@charset "utf-8";
.box{
	width:260px;
	height:32px;
	}
.dob{
	width:130px;
	height:32px;}
a{
	color:#09f;
	}
input{
	height:30px;
	}
a img{
	border:none;
	}
h1{
	color:rgb(85,85,85);
	}
h2,h3{
	color:rgb(115,115,115);
	}
a:link{
	color:#09f;
	text-decoration:none;
	}
a:visited{
	
	text-decoration:none;
	}
a:hover,a:active,a:focus{
	text-decoration:underline;
	
	}
#imglogo{
	margin:10px 10px 10px 10px;
	width:30px;
	height:30px;
	}
.container{
	padding: 150px 0;
	width:960px;
	margin:0 auto;
	}
body{
	
	padding: 0;
	margin: 0;
	background-color:rgb(255,255,255);
	font-weight:normal;
	letter-spacing:normal;
	
	font-family:Arial, Helvetica, sans-serif;	/*
	background-image:url(images/background_image.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-origin:content-box;
	background-attachment:fixed;
	*/
	}
#header{
	
	
	
	background-color:rgb(241,241,241);
	float:left;
	width:100%;	
	
	}
#footer{
	
	
	
	background-color:fff;
	border-top-color:rgb(241,241,241);
	float:left;
	background-size:cover;
	width:100%;	
	clear:both;
	}
#button1{
	float:right;
	text-align:center;
	color:white;
	background-color:rgb(76,143,252);
	border-radius:2px;
	border:0;
		-webkit-border-radius: 2px;
  	 	-moz-border-radius: 2px;
	-webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
  	transition: all 0.218s;
	font-family:Arial, Helvetica, sans-serif;
	width:65px;
	height:30px}

.p1{
	float:left;
	width:100%;
	text-align:center;
	background-color:rgb(255,255,255);
	min-height:200px;
	}
	
.signup_area{
	margin-right:10px;
	background-color:rgb(241,241,241);
	float:right;
	width:40%;
	min-height:750px;
	}
.left_area{
	text-align:center;
	margin-left:10px;
	background-color:rgb(255,255,255);
	float:left;	
	width:50%;
	min-height:600px;
			
	}
span{
	margin:0 10px;}
.lang{
	float:right;}
address{
	text-align:center;
	}